# Dependencies
node_modules/

# Next.js
.next/

# Build outputs
dist/
storybook-static/

# Turborepo
.turbo/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Coverage
coverage/

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
